body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-error {
    width: 100% !important;
    flex-wrap: wrap;
    color: red !important;
    padding-top: 10px;
    font-family: ab;
    /* font-style: italic; */
}

.pd-left-register {
    padding-left: 180px;
}

.pd-right-profile {
    padding-left: 160px;
}

.pd-right-contact {
    padding-left: 180px;
}

.pd-login {
    padding-left: 0;
    margin: -20px 0 20px 0;
}

.mb-10 {
    margin-bottom: 15px !important;
}

.activeNav {
    background-color: #00afab;
    color: white;
}

.lazy-load {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #f4f7f6;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    display: none;
}

.lazy-load .circle-item {
    width: 30px;
    height: 30px;
    border: 3px solid violet;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    /* opacity: 1; */
}

.lazy-load .circle-item:first-child {
    border-color: #25c2e3;
}

.lazy-load .cicles {
    animation: rotate 1s infinite;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

@keyframes rotate {
    60% {
        transform: rotate(200deg);
    }
    75% {
        transform: rotate(160deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.cl-white:hover {
    color: #f4f7f6 !important;
}